<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="com/single/mybatis/db.properties"></properties>
	
	<typeAliases>
		<!-- 회원 테이블 -->
		<typeAlias type="com.single.model.dto.member.MemberDTO" alias="MEMBER"/>
		<typeAlias type="com.single.model.dto.member.KakaoMemberDTO" alias="KAKAOMEMBER"/>
		<typeAlias type="com.single.model.dto.member.NaverMemberDTO" alias="NAVERMEMBER"/>
		<typeAlias type="com.single.model.dto.member.MemberProfileDTO" alias="MEMBERPROFILE"/>
		
		<!-- 채팅 테이블 -->
		<typeAlias type="com.single.model.dto.chat.ChatDTO" alias="CHAT"/>
		<typeAlias type="com.single.model.dto.chat.ChatRoomDTO" alias="CHATROOM"/>
		<typeAlias type="com.single.model.dto.chat.ChatMessageDTO" alias="CHATMESSAGE"/>
		<typeAlias type="com.single.model.dto.chat.MyChatroomListDTO" alias="MYCHATROOMLIST"/>


		<!-- 세탁 테이블 -->
		<typeAlias type="com.single.model.dto.wash.WashDTO" alias="WASH"/>
		<typeAlias type="com.single.model.dto.clean.CleanDTO" alias="CLEAN"/>
		
		
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/single/mybatis/member-mapper.xml" />
		<mapper resource="com/single/mybatis/chat-mapper.xml"/>
		<mapper resource="com/single/mybatis/life-mapper.xml"/>
	</mappers>
</configuration>