<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="com/single/mybatis/db.properties"></properties>
	
	<typeAliases>
	
		<!-- 회원 테이블 -->
		<typeAlias type="com.single.model.dto.member.MemberDTO" alias="MEMBER"/>
		<typeAlias type="com.single.model.dto.member.KakaoMemberDTO" alias="KAKAOMEMBER"/>
		<typeAlias type="com.single.model.dto.member.NaverMemberDTO" alias="NAVERMEMBER"/>
		<typeAlias type="com.single.model.dto.member.MemberProfileDTO" alias="MEMBERPROFILE"/>

		<!-- 게시판 테이블 -->
		<typeAlias type="com.single.model.dto.board.BoardDTO" alias="BOARD"/>
		<typeAlias type="com.single.model.dto.board.FileDTO" alias="FILE"/>
		<typeAlias type="com.single.model.dto.board.ReplyDTO" alias="REPLY"/>
		<typeAlias type="com.single.model.dto.board.ResaleDTO" alias="RESALE"/>
		<typeAlias type="com.single.model.dto.board.LikeDTO" alias="LIKES"/>
		<typeAlias type="com.single.model.dto.board.ReplyDTO" alias="REPLY"/>
		<typeAlias type="com.single.model.dto.board.ReplyLikesDTO" alias="REPLYLIKES"/>
		
		<!-- 채팅 테이블 -->
		<typeAlias type="com.single.model.dto.chat.ChatRoomDTO" alias="CHATROOM"/>
		<typeAlias type="com.single.model.dto.chat.ChatMessageDTO" alias="CHATMESSAGE"/>
		<typeAlias type="com.single.model.dto.chat.MyChatroomListDTO" alias="MYCHATROOMLIST"/>
		
		<!-- 쪽지 테이블 -->
		<typeAlias type="com.single.model.dto.note.NoteDTO" alias="NOTE"/>
		<typeAlias type="com.single.model.dto.note.MyNoteListDTO" alias="MYNOTELIST"/>
		
		<!-- 식재료 테이블 -->
		<typeAlias type="com.single.model.dto.map.FoodDto" alias="FOOD"/>
		
		<!-- 세탁 테이블 -->
		<typeAlias type="com.single.model.dto.wash.WashDTO" alias="WASH"/>
		<typeAlias type="com.single.model.dto.clean.CleanDTO" alias="CLEAN"/>
		
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/single/mybatis/member-mapper.xml" />
		<mapper resource="com/single/mybatis/notice-mapper.xml"/>
		<mapper resource="com/single/mybatis/resale-mapper.xml"/>
		<mapper resource="com/single/mybatis/reply-mapper.xml"/>
		<mapper resource="com/single/mybatis/chat-mapper.xml"/>
		<mapper resource="com/single/mybatis/note-mapper.xml"/>
		<mapper resource="com/single/mybatis/food-mapper.xml" />
		<mapper resource="com/single/mybatis/life-mapper.xml"/> 
	</mappers>
</configuration>