* {
   padding: 0px;
   margin: 0px;
}

body {
	font-family: 'Noto Sans KR';
}

a {
   text-decoration: none !important;
   cursor: pointer;
}

li {
   /* list-style: none; */
   
}

.container {
	height: 100vh;
	padding-top: 70px;
}

th, td {
	text-align: center;
}